* {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  /* background-color: red; */
  display: flex;
}
#left {
  width: 40%;
  height: 100%;
  /* background-color: yellow; */
  position: relative;
}
#lnav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 30px;
}
#lnavr {
  display: flex;
  align-items: center;
}
#lnavr a {
  margin-right: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 14px;
}
#lnavr i {
  color: royalblue;
}
#left #textcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* learn */
}
#left #textcenter h1 {
  font-size: 90px;
  font-weight: 900;
}
#textcenter p {
  opacity: 0.6;
  font-size: 12px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#textcenter a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  font-size: 13px;
  opacity: 0.6;
  font-weight: 600;
}

#right {
  width: 60%;
  height: 100%;
  background-color: white;
}
#rtop {
  height: 50%;
  width: 100%;
  background-color: royalblue;
  display: flex;
}
#rbottom {
  height: 50%;
  width: 100%;
  /* background-color: orange; */
  background-image: url(https://plus.unsplash.com/premium_photo-1664277022193-c2f11a4ed97a?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
#rtopright {
  width: 55%;
  height: 100%;
  /* background-color: red; */
  background-image: url(https://images.unsplash.com/photo-1557800636-894a64c1696f?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
#rtopleft {
  width: 45%;
  height: 100%;
  background-color: green;
  background-image: url(https://images.unsplash.com/photo-1552089123-2d26226fc2b7?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

@media (max-width:500px) {
    #main{
        flex-direction: column;
    }
    #main #left{
        width: 100%;
    }
    #main #right{
        width: 100%;
    }

    
}